.search {
    margin: 0 5%;
    height: 80%;
    padding: 2% 0;
}

.search-field {
    height: 3rem;
    width: 84%;
    color: var(--white);
    background-color: var(--grey-darker);
    font-size: 1.2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 #2323239a;
    opacity: 0.8;
    outline: none;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
}

.search-panel {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-title {
    margin-top: 50px;
    display: block;
    color: var(--white);
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
}

.search-button {
    font-size: 1.2rem;
    font-weight: 200;
    height: 3rem;
    padding: 0.5rem 4rem;
    color: var(--white);
    background-color: var(--red);
    text-transform: uppercase;
    border-radius: 4px;
    outline: none;
    letter-spacing: 0.1rem;
}

.search-button:hover {
    background-color: var(--red-lighter);
}

.search-button:active {
    box-shadow: inset 0 0 0 1px #000000;
    background-color: var(--red-darker);
}
