.close-preview {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    top: 0;
    right: 0;
    color: transparent;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    overflow: hidden;
}

.preview-header-form {
    height: 50vh;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.movie-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 105%;
    padding: 5vh 0;
    top: 40px;
    position: absolute;
    margin-left: 69px;
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                           not supported by any browser */
}

.preview-wrapper {
    margin: 0 6%;
    position: relative;
    height: 100%;
    width: 88%;
    overflow: hidden;
}

.preview-header {
    height: 50vh;
    background-image: url(/images/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.close-preview-button {
    position: absolute;
    top: 50px;
    right: 2px;
    outline: none;
}

