.close-button {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: transparent;
  color: transparent;
  border: transparent;
  outline: none;
  width: 2rem;
  height: 2rem;
}

.close-button::before {
  content: '';
  position: absolute;
  border-top: 2px solid var(--white);
  transform: rotate(45deg);
  left: 0;
  top: 50%;
  width: 2rem;
}

.close-button::after {
  content: '';
  position: absolute;
  border-top: 2px solid var(--white);
  transform: rotate(-45deg);
  left: 0;
  top: 50%;
  width: 2rem;
}
