.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    z-index: 10;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.add-movie-modal {
    width: 45rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #232323;
    overflow: auto;
    outline: none;
    padding: 52px 52px 30px;
}

.add-movie-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
}
