@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    --red: #f65261;
    --red-lighter: #fb6672;
    --red-darker: #e62b3a;
    --grey: #555555;
    --grey-transparent: rgba(85, 85, 85, 0.44);
    --grey-lighter-transparent: #70707070;
    --grey-darker: #232323;
    --white: #ffffff;
    --grey-darker-transparent: #232323d7;
    --black-darker-transparent: rgb(21 20 20 / 93%);;
}

body {
    background-color: var(--grey);
    min-height: 100vh;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

input[type="date"]::-webkit-inner-spin-button {
    opacity: 0
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: url(/images/calendar.png) center/80% no-repeat;
    color: rgba(0, 0, 0, 0);
    opacity: 0.5
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background: url(/images/calendar.png) center/80% no-repeat;
    opacity: 0.8
}

input[type="date"]::-webkit-datetime-edit-day-field:focus,
input[type="date"]::-webkit-datetime-edit-month-field:focus,
input[type="date"]::-webkit-datetime-edit-year-field:focus {
    background-color: var(--red);
}

input[type="password"]:focus {
    outline: none !important;
    border: 1px solid var(--red);
}

input[type="email"]:focus {
    outline: none !important;
    border: 1px solid var(--red);
}

input:focus {
    outline: none !important;
    border: 1px solid var(--red);
}

