.add-button {
    color: var(--red);
    background-color: var(--grey-transparent);
    text-transform: uppercase;
    padding: 1rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    position: absolute;
    right: 0;
    top: 1rem;
    font-weight: 600;
}

.add-button:hover {
    background-color: var(--grey-lighter-transparent);
}

.add-button:active {
    background-color: var(--grey);
}
